.header-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
}
.logo-img{
    margin-right: 40px;
}


.header-menu{
    flex-grow: 3;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.cards-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* column-gap: 10px; */
}

.footer-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social-networks{
    display: flex;
    justify-content: flex-end;
}

.footer-logo{
    margin: 10px;
    width: 60px;
    height: 60px;
}
.footer-search{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
}
.footer-search-input{
    height: 40px;
    flex-grow: 3;
    margin-right: 20px;
    border-radius: 10px;
    border: none;
}

.footer-search-buutton{
    height: 40px;
    flex-grow: 2;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

@media screen and (max-width: 850px){
    .header-menu{
        display:none;
    }
    .header-logo{
        justify-content: center;
    }
    .cards-row{
        flex-direction: column;
        /* flex-wrap: wrap; */
        align-items: center;
    }
    .card{
        width: auto;
    }

    .search, .fotter-search-input, .footer-search-button, .social-networks{
        width: 100%;
        margin-bottom: 10px;
        margin-right: 0;
    }
    .fotter-search-input{
        margin-right: 0;
    }
    .footer-row, .footer-search{
        flex-direction: column;
    }
    .social-networks {
        justify-content: space-around;
    }
    .footer {
        padding: 20px 0;
    }
}

