*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

.header{
    width: 100%;
    color: white;
    padding: 20px;
    background-color: #151c39e8;
    box-sizing: border-box;
}

.menu-item{
    list-style: none;
}
.menu-link{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
.banner-section{
    padding: 100px;
    background-image: url(./img/banner-bg.jpg);
    background-size: cover;
    background-position: center;
}
.banner-text{
    text-align: center;
    color: white;
    font-size: 40px;
}
.banner-description{
    text-align: center;
    color: white;
}
.banner-link{
    text-decoration:none;
    font-size: 30px;
}

.cards-section{
    padding: 50px 0;
}
.cards-title{
    color: #151c39;
    text-align: center;
}
.cards-description{
    color: #151c39;
    text-align: center;
}
.card{
    padding: 25px;
    margin-top: 25px;
    width: 25%;
    background-color:white ;
    box-shadow: 0px 2px 7px 0px #9e90ff;
    text-align: center;
}
.card:hover{
    box-shadow: 5px 7px 7px 7px #9e90ff ;
}
.card-link{
    text-decoration: none;
    color: white;
}
.card-button{
    text-align: center;
    background-color: #151c39;
    padding: 10px 70px;
    border-radius: 10px;
    cursor: pointer;
}
.card-title{
    margin-bottom: 10px;
}
.card-text{
    margin-bottom: 10px;
}

.footer {
    background: url(./img/footer-bg.jpg);
    background-size: cover;
    padding: 100px 0;
}
.copyright{
    color: white;
}